name: CMake

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally
    # well on Windows or Mac.  You can convert this to a matrix build if you need
    # cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    name: ${{matrix.config.name}}
    runs-on: ${{matrix.config.os}}
    strategy:
      fail-fast: false
      matrix:
        config:
          - {
              name: "Ubuntu Latest GCC",
              os: ubuntu-latest,
              build_type: "Release", cc: "gcc", cxx: "g++",
              mpi_type: "none"
            }
          - {
              name: "Ubuntu Latest Clang",
              os: ubuntu-latest,
              build_type: "Release", cc: "clang", cxx: "clang++",
              mpi_type: "none"
            }
          - {
              name: "Ubuntu Latest GCC (MPI)",
              os: ubuntu-latest,
              build_type: "Release", cc: "gcc", cxx: "g++",
              mpi_type: "mpich"
            }
          - {
              name: "Ubuntu Latest Clang (MPI)",
              os: ubuntu-latest,
              build_type: "Release", cc: "clang", cxx: "clang++",
              mpi_type: "mpich"
            }
          - {
              name: "macOS Latest Clang",
              os: macos-latest,
              build_type: "Release", cc: "clang", cxx: "clang++",
              mpi_type: "none"
            }
    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Install Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'

    - name: Install MPI
      if: ${{ matrix.config.mpi_type != 'none' }}
      uses: mpi4py/setup-mpi@v1.3.5
      with:
        mpi: ${{matrix.config.mpi_type}}
          
    - name: Install Python binding dependencies
      run: |
        python3 -m pip install pybind11

    - name: Install mpi4py
      if: ${{ matrix.config.mpi_type != 'none' }}
      run: |
        python -m pip install mpi4py

    - name: Create Build Environment
      # Some projects don't allow in-source building, so create a separate build directory
      # We'll use this as our working directory for all subsequent commands
      run: cmake -E make_directory ${{github.workspace}}/build

    - name: Configure CMake
      # Use a bash shell so we can use the same syntax for environment variable
      # access regardless of the host operating system
      shell: bash
      working-directory: ${{github.workspace}}/build
      # Note the current convention is to use the -S and -B options here to specify source 
      # and build directories, but this is only available with CMake 3.13 and higher.  
      # The CMake binaries on the Github Actions machines are (as of this writing) 3.12
      run: |
        EXTRA_OPTS=""
        if [ "${{ matrix.config.mpi_type }}" != "none" ]; then
          EXTRA_OPTS="-DENABLE_MPI=ON"
        fi
        cmake $GITHUB_WORKSPACE -DCMAKE_POLICY_VERSION_MINIMUM=3.5 -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DCMAKE_C_COMPILER=${{matrix.config.cc}} -DCMAKE_CXX_COMPILER=${{matrix.config.cxx}} -DENABLE_PYTHON_BINDINGS=ON -Dpybind11_DIR=$(pybind11-config --cmakedir) \
          $EXTRA_OPTS

    - name: Build
      working-directory: ${{github.workspace}}/build
      shell: bash
      # Execute the build.  You can specify a specific target with "--target <NAME>"
      run: cmake --build . --config $BUILD_TYPE

    - name: Test
      working-directory: ${{github.workspace}}/build
      shell: bash
      # Execute tests defined by the CMake configuration.  
      # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
      run: ctest --output-on-failure
